.devs{
    display: flex;
    align-items: center;
    justify-content: center; /* CENTRALIZA */
    gap: 10px;
    padding: 15px;
    background-color: #78281F;
    color: #F5F5DC;
    text-align: center; 
}

