body {
    font-family: 'Poppins', sans-serif;
}
.barraSup .conteudoBarraSup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    background-color: #fcb4ac;
}

.barraSup .conteudoBarraSup .telefone {
    color: #0c0c04;
}

.barraSup .conteudoBarraSup .icons {
    display: flex;
    align-items: center; 
    gap: 10px;
    color: #0c0c04;
}

/* Barra Inferior CSS */
.barraInf {
    position: relative; 
    background-image: url("../img/fundo_Pizza.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
}
 
.titulo{
        font-size: 70px;
        font-family: 'Fredoka', cursive;
}

.endereco{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.endereco i {
    margin-bottom: 10px;
}

.barraInf .fundoBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/fundo_Pizza.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* AQUI é filter, não backdrop-filter */
    z-index: 0; /* fica atrás */
}

.barraInf .conteudoBarraInf {
    position: relative;
    z-index: 1; /* fica na frente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white; /* ou outra cor pra texto */
    padding-top: 60px;
}

.barraInf .conteudoBarraInf .textoBarraInf{
    text-align: center;
    padding: 25px;
    color: #0c0c04;

}

.modal_funcionamento{
    background-color: transparent;
    border: none;
    color: #0c0c04;
}

.barraInf .logoPizzaria{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
