body {
    font-family: 'Poppins', sans-serif;
}
.barraSup .conteudoBarraSup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    background-color: #fcb4ac;
}

.barraSup .conteudoBarraSup .telefone {
    color: #0c0c04;
}

.barraSup .conteudoBarraSup .icons {
    display: flex;
    align-items: center; 
    gap: 10px;
    color: #0c0c04;
}

/* Barra Inferior CSS */
.barraInf {
    position: relative; 
    background-image: url("../img/fundo_Pizza.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
}
 
.titulo{
        font-size: 70px;
        font-family: 'Fredoka', cursive;
}

.endereco{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.endereco i {
    margin-bottom: 10px;
}

.barraInf .fundoBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/fundo_Pizza.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* AQUI é filter, não backdrop-filter */
    z-index: 0; /* fica atrás */
}

.barraInf .conteudoBarraInf {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white; /* ou outra cor pra texto */
    padding-top: 60px;
}

.barraInf .conteudoBarraInf .textoBarraInf{
    text-align: center;
    padding: 25px;
    color: #0c0c04;

}

.modal_funcionamento{
    background-color: transparent;
    border: none;
    color: #0c0c04;
}
.modal_funcionamento:hover {
    background-color: transparent;
    border: none;
    color: #F5F5DC;
}

.barraInf .logoPizzaria{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/* Modal */

.modal-horario{
    color:#fcb4ac;
}

.modal.fade {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
  
.modal.fade.show {
    opacity: 1;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translate(0, -25%);
    opacity: 0;
}
.modal.fade.show .modal-dialog {
    transform: translate(0, 0);
    opacity: 1;
}

.modal-header {
    border-bottom: none;
    background-color: #fcb4ac;
}

.modal-header .close{
    color: #0c0c04;
    opacity: 1;
}

.modal-header .close,
.modal-header .close:hover,
.modal-header .close:focus,
.modal-header .close span,
.modal-header .close span:hover,
.modal-header .close span:focus {
    color: #0c0c04 !important;
    opacity: 1 !important;
    text-shadow: none !important;
}

.modal-body{
    background-color: #0c0c04;
}

.titulo-modal{
    font-size: 25px;
}

.table, 
.table th, 
.table td {
    border: 1px solid #fcb4ac !important;
}

.thead{
    background-color: #fcb4ac;
    color: #0c0c04;
}

.indicativo{
    margin: 3px;
    padding: 6px;
    color: #0c0c04;
    background-color:#fcb4ac;
    border-radius: 5%;
}

.modal-footer{
    background-color: #0c0c04;
    border: none;
}

.modal-footer .btn{
    background-color: #fcb4ac !important;
    color: #0c0c04 !important;
    margin-top: 20px !important;
}

