/* Nav Bar Main CSS */

main {
    background-color: #0c0c04;
}

.nav-tabs {
    font-size: 20px;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: #0c0c04; /* pra não ficar transparente */
    z-index: 999;
}

.nav-link {
    color: #fcb4ac;
}

.nav-tabs .nav-link.active {
    background-color: #fcb4ac;
    color: white;
    border-color: #fcb4ac #fcb4ac transparent; /* opcional para melhorar a borda */
}

.tab-pane .titulo {
    color: #fcb4ac;
    font-size: 45px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.card {
    border-radius: 15px;
    overflow: hidden; 
}

.card .card-body{
    background-color: #fcb4ac;
    color:#0c0c04;
}


.btnTop {
    position: fixed;
    bottom: 10px;
    left: 20px;
    background-color: #fcb4ac;
    color: #0c0c04;
    border: none;   
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }

  